data/dbtplenarprotokoll-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  DTD für Plenar-Protokolle des Deutschen Bundestags
  
  Erstellt von: SRZ - Satz-Rechen-Zentrum Hartmann+Heenemann GmbH&Co. KG
  Aktualisiert von: Deutscher Bundestag
  Stand: 01.10.2019
  
  <!DOCTYPE  dbtplenarprotokoll  SYSTEM "dbtplenarprotokoll.dtd">
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="inline-elemente" abstract="true"/>
  <xs:element name="sub" substitutionGroup="inline-elemente" type="xs:string"/>
  <xs:element name="sup" substitutionGroup="inline-elemente" type="xs:string"/>
  <xs:element name="dbtplenarprotokoll">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="vorspann"/>
        <xs:element ref="sitzungsverlauf"/>
        <xs:element ref="anlagen"/>
        <xs:element ref="rednerliste"/>
      </xs:sequence>
      <xs:attribute name="wahlperiode" use="required"/>
      <xs:attribute name="sitzung-nr" use="required"/>
      <xs:attribute name="sitzung-datum" use="required"/>
      <xs:attribute name="sitzung-start-uhrzeit" use="required"/>
      <xs:attribute name="sitzung-ende-uhrzeit" use="required"/>
      <xs:attribute name="sitzung-naechste-datum" use="required"/>
      <xs:attribute name="sitzung-ort" default="Berlin">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Berlin"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="herausgeber" default="Deutscher Bundestag">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Deutscher Bundestag"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="herstellung" use="required"/>
      <xs:attribute name="vertrieb" default="Bundesanzeiger Verlagsgesellschaft mbH, Postfach 1 0 05 34, 50445 Köln, Telefon (02 21) 97 66 83 40, Fax (02 21) 97 66 83 44, www.betrifft-gesetze.de">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Bundesanzeiger Verlagsgesellschaft mbH, Postfach 1 0 05 34, 50445 Köln, Telefon (02 21) 97 66 83 40, Fax (02 21) 97 66 83 44, www.betrifft-gesetze.de"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="issn" default="0722-7980">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0722-7980"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="start-seitennr" use="required"/>
      <xs:attribute name="version"/>
      <xs:attribute name="status">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="erfasst"/>
            <xs:enumeration value="korrektur"/>
            <xs:enumeration value="freigegeben"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="kommentare"/>
    </xs:complexType>
  </xs:element>
  <!--  VORSPANN =================================== -->
  <xs:element name="vorspann">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="kopfdaten"/>
        <xs:element ref="inhaltsverzeichnis"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kopfdaten">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="plenarprotokoll-nummer"/>
        <xs:element ref="herausgeber"/>
        <xs:element ref="berichtart"/>
        <xs:element ref="sitzungstitel"/>
        <xs:element ref="veranstaltungsdaten"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- "Plenarprotokoll 17/228" 1. Seite oben rechts -->
  <xs:element name="plenarprotokoll-nummer">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="wahlperiode"/>
        <xs:element ref="sitzungsnr"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="wahlperiode" type="xs:string"/>
  <xs:element name="sitzungsnr" type="xs:string"/>
  <!-- "Deutscher Bundestag" -->
  <xs:element name="herausgeber" type="xs:string"/>
  <!-- "Stenografischer Bericht" -->
  <xs:element name="berichtart" type="xs:string"/>
  <!-- "228. Sitzung" -->
  <xs:element name="sitzungstitel">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="sitzungsnr"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- "Berlin, Donnerstag, den 14. März 2013" -->
  <xs:element name="veranstaltungsdaten">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ort"/>
        <xs:element ref="datum"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <!-- "Berlin" -->
  <xs:element name="ort" type="xs:string"/>
  <!-- "Donnerstag, den 14. März 2013", Attribut date im Format TT.MM.JJJJ -->
  <xs:element name="datum">
    <xs:complexType mixed="true">
      <xs:attribute name="date" use="required"/>
    </xs:complexType>
  </xs:element>
  <!--  INHALTSVERZEICHNIS =============================== -->
  <xs:element name="inhaltsverzeichnis">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ivz-titel"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ivz-block"/>
          <xs:element ref="ivz-eintrag"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- "Inhalt:" -->
  <xs:element name="ivz-titel" type="xs:string"/>
  <xs:element name="ivz-block">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ivz-block-titel"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ivz-eintrag"/>
          <xs:element ref="ivz-block"/>
          <xs:element ref="p"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ivz-block-titel" type="xs:string"/>
  <xs:element name="ivz-eintrag">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ivz-eintrag-inhalt"/>
        <xs:element ref="xref"/>
        <xs:element ref="a"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="ivz-eintrag-inhalt">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="redner"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="a" substitutionGroup="inline-elemente">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="seite"/>
        <xs:element ref="seitenbereich"/>
      </xs:choice>
      <xs:attribute name="typ">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="druckseitennummer"/>
            <xs:enumeration value="bild"/>
            <xs:enumeration value="tabelle"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id"/>
      <xs:attribute name="name"/>
      <xs:attribute name="href"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="seite" type="xs:string"/>
  <xs:element name="seitenbereich" type="xs:string"/>
  <xs:element name="xref" substitutionGroup="inline-elemente">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="a"/>
      </xs:sequence>
      <xs:attribute name="ref-type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="rede"/>
            <xs:enumeration value="kommentar"/>
            <xs:enumeration value="anlage"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rid" use="required"/>
      <xs:attribute name="pnr" use="required"/>
      <xs:attribute name="div"/>
    </xs:complexType>
  </xs:element>
  <!--  SITZUNGSVERLAUF ============================= -->
  <xs:element name="sitzungsverlauf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="sitzungsbeginn"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="rede"/>
        <xs:element maxOccurs="unbounded" ref="tagesordnungspunkt"/>
        <xs:element minOccurs="0" ref="sitzungsende"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sitzungsbeginn">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="p"/>
        <xs:element ref="zitat"/>
        <xs:element ref="kommentar"/>
        <xs:element ref="a"/>
        <xs:element ref="name"/>
      </xs:choice>
      <xs:attribute name="sitzung-start-uhrzeit" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tagesordnungspunkt">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="top-titel"/>
        <xs:element ref="name"/>
        <xs:element ref="rede"/>
        <xs:element ref="p"/>
        <xs:element ref="zitat"/>
        <xs:element ref="kommentar"/>
        <xs:element ref="a"/>
      </xs:choice>
      <xs:attribute name="top-id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="top-titel">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="p"/>
        <xs:element ref="a"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="sitzungsende">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="p"/>
        <xs:element ref="a"/>
      </xs:choice>
      <xs:attribute name="sitzung-ende-uhrzeit" use="required"/>
    </xs:complexType>
  </xs:element>
  <!--  REDE ======================================= -->
  <xs:element name="rede">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="name"/>
        <xs:element ref="p"/>
        <xs:element ref="kommentar"/>
        <xs:element ref="zitat"/>
        <xs:element ref="a"/>
      </xs:choice>
      <xs:attribute name="id" use="required" type="xs:ID"/>
      <xs:attribute name="redeart">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="plenum"/>
            <xs:enumeration value="zu_protokoll"/>
            <xs:enumeration value="zu_protokoll_anlage"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="redner">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
      </xs:sequence>
      <xs:attribute name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <!-- NAME -->
  <xs:element name="name">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="titel"/>
        <xs:element ref="vorname"/>
        <xs:element ref="nachname"/>
        <xs:element ref="namenszusatz"/>
        <xs:element ref="ortszusatz"/>
        <xs:element ref="fraktion"/>
        <xs:element ref="rolle"/>
        <xs:element ref="bdland"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="titel" type="xs:string"/>
  <xs:element name="vorname" type="xs:string"/>
  <xs:element name="namenszusatz" type="xs:string"/>
  <xs:element name="nachname" type="xs:string"/>
  <xs:element name="ortszusatz" type="xs:string"/>
  <xs:element name="fraktion" type="xs:string"/>
  <xs:element name="rolle">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="rolle_lang"/>
        <xs:element ref="rolle_kurz"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="rolle_lang" type="xs:string"/>
  <xs:element name="rolle_kurz" type="xs:string"/>
  <xs:element name="bdland" type="xs:string"/>
  <!-- Kommentar entsteht aus "K", "K-block", "K_klein" mit jedem Span -->
  <xs:element name="kommentar">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="p"/>
        <xs:element ref="inline-elemente"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <!--  P (WIE PARAGRAF/ABSATZ) -->
  <xs:element name="p">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="redner"/>
        <xs:element ref="table"/>
        <xs:element ref="inline-elemente"/>
      </xs:choice>
      <xs:attribute name="klasse"/>
    </xs:complexType>
  </xs:element>
  <!-- FUSSNOTE -->
  <xs:element name="fussnote" substitutionGroup="inline-elemente">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="p"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- ZITAT -->
  <xs:element name="zitat">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="p"/>
        <xs:element ref="inline-elemente"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <!--  ANLAGEN =================================== -->
  <xs:element name="anlagen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="anlagen-titel"/>
        <xs:element maxOccurs="unbounded" ref="anlage"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="anlage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="anlagen-titel"/>
        <xs:element maxOccurs="unbounded" ref="anlagen-text"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="anlagen-titel">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="p"/>
        <xs:element ref="inline-elemente"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="anlagen-text">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="p"/>
        <xs:element ref="kommentar"/>
        <xs:element ref="rede"/>
        <xs:element ref="table"/>
        <xs:element ref="zitat"/>
        <xs:element ref="inline-elemente"/>
      </xs:choice>
      <xs:attribute name="anlagen-typ"/>
    </xs:complexType>
  </xs:element>
  <!--  REDNERLISTE =============================== -->
  <xs:element name="rednerliste">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="redner"/>
      </xs:sequence>
      <xs:attribute name="sitzung-datum" use="required"/>
    </xs:complexType>
  </xs:element>
  <!--  Tables =================================== -->
  <xs:simpleType name="TFrame">
    <xs:restriction base="xs:token">
      <xs:enumeration value="void"/>
      <xs:enumeration value="above"/>
      <xs:enumeration value="below"/>
      <xs:enumeration value="hsides"/>
      <xs:enumeration value="lhs"/>
      <xs:enumeration value="rhs"/>
      <xs:enumeration value="vsides"/>
      <xs:enumeration value="box"/>
      <xs:enumeration value="border"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TRules">
    <xs:restriction base="xs:token">
      <xs:enumeration value="none"/>
      <xs:enumeration value="groups"/>
      <xs:enumeration value="rows"/>
      <xs:enumeration value="cols"/>
      <xs:enumeration value="all"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TAlign">
    <xs:restriction base="xs:token">
      <xs:enumeration value="left"/>
      <xs:enumeration value="center"/>
      <xs:enumeration value="right"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Character">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="Number">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="Length">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="MultiLength">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="Pixels">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="Text">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="Color">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:attributeGroup name="cellhalign">
    <xs:attribute name="align">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="justify"/>
          <xs:enumeration value="char"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="char" type="Character"/>
    <xs:attribute name="charoff" type="Length"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="cellvalign">
    <xs:attribute name="valign">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="top"/>
          <xs:enumeration value="middle"/>
          <xs:enumeration value="bottom"/>
          <xs:enumeration value="baseline"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="Scope">
    <xs:restriction base="xs:token">
      <xs:enumeration value="row"/>
      <xs:enumeration value="col"/>
      <xs:enumeration value="rowgroup"/>
      <xs:enumeration value="colgroup"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="table">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="caption"/>
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="col"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="colgroup"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="thead"/>
        <xs:element minOccurs="0" ref="tfoot"/>
        <xs:choice>
          <xs:element maxOccurs="unbounded" ref="tbody"/>
          <xs:element maxOccurs="unbounded" ref="tr"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="summary" type="Text"/>
      <xs:attribute name="width" type="Length"/>
      <xs:attribute name="border" type="Pixels"/>
      <xs:attribute name="frame" type="TFrame"/>
      <xs:attribute name="rules" type="TRules"/>
      <xs:attribute name="cellspacing" type="Length"/>
      <xs:attribute name="cellpadding" type="Length"/>
      <xs:attribute name="align" type="TAlign"/>
      <xs:attribute name="bgcolor" type="Color"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="caption">
    <xs:complexType mixed="true">
      <xs:attribute name="align" type="CAlign"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="thead">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tr"/>
      </xs:sequence>
      <xs:attributeGroup ref="cellhalign"/>
      <xs:attributeGroup ref="cellvalign"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tfoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tr"/>
      </xs:sequence>
      <xs:attributeGroup ref="cellhalign"/>
      <xs:attributeGroup ref="cellvalign"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tbody">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tr"/>
      </xs:sequence>
      <xs:attributeGroup ref="cellhalign"/>
      <xs:attributeGroup ref="cellvalign"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="colgroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="col"/>
      </xs:sequence>
      <xs:attribute name="span" default="1" type="Number"/>
      <xs:attribute name="width" type="MultiLength"/>
      <xs:attributeGroup ref="cellhalign"/>
      <xs:attributeGroup ref="cellvalign"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="col">
    <xs:complexType>
      <xs:attribute name="span" default="1" type="Number"/>
      <xs:attribute name="width" type="MultiLength"/>
      <xs:attributeGroup ref="cellhalign"/>
      <xs:attributeGroup ref="cellvalign"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tr">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="th"/>
        <xs:element ref="td"/>
      </xs:choice>
      <xs:attributeGroup ref="cellhalign"/>
      <xs:attributeGroup ref="cellvalign"/>
      <xs:attribute name="bgcolor" type="Color"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="th">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="inline-elemente"/>
      </xs:sequence>
      <xs:attribute name="abbr" type="Text"/>
      <xs:attribute name="axis"/>
      <xs:attribute name="headers" type="xs:IDREFS"/>
      <xs:attribute name="scope" type="Scope"/>
      <xs:attribute name="rowspan" default="1" type="Number"/>
      <xs:attribute name="colspan" default="1" type="Number"/>
      <xs:attributeGroup ref="cellhalign"/>
      <xs:attributeGroup ref="cellvalign"/>
      <xs:attribute name="nowrap">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="nowrap"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="bgcolor" type="Color"/>
      <xs:attribute name="width" type="Pixels"/>
      <xs:attribute name="height" type="Pixels"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="td">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="inline-elemente"/>
      </xs:sequence>
      <xs:attribute name="abbr" type="Text"/>
      <xs:attribute name="axis"/>
      <xs:attribute name="headers" type="xs:IDREFS"/>
      <xs:attribute name="scope" type="Scope"/>
      <xs:attribute name="rowspan" default="1" type="Number"/>
      <xs:attribute name="colspan" default="1" type="Number"/>
      <xs:attributeGroup ref="cellhalign"/>
      <xs:attributeGroup ref="cellvalign"/>
      <xs:attribute name="nowrap">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="nowrap"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="bgcolor" type="Color"/>
      <xs:attribute name="width" type="Pixels"/>
      <xs:attribute name="height" type="Pixels"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="CAlign">
    <xs:restriction base="xs:token">
      <xs:enumeration value="top"/>
      <xs:enumeration value="bottom"/>
      <xs:enumeration value="left"/>
      <xs:enumeration value="right"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
